.game-row{
    display: inline-block;
    width: 500px;
    background-color: aqua;
    display: flex;
    justify-content:center;
    border-radius: 50px;

}
.game-row div{
   display: flex;
   justify-content: space-around;
}
